@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Documents

<div class="row">
    @foreach (var movie in Model.Movie)
    {
        <div>
            <h4>@movie.MovieName</h4>
            <hr />
            <div class="d-flex flex-row justify-content-center">
                <div class="mx-4" >
                    <img style="border-radius: 7px ;box-shadow: 6px 6px 0px 0px darkgrey; width:180px" src="~/images/@movie.FileName">
                </div>
                <div style="border: 3px inset;border-radius: 7px ;box-shadow: 6px 6px 0px 0px grey; padding: 15px ">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => movie.MovieName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => movie.MovieName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => movie.FileName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => movie.FileName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => movie.UploadDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => movie.UploadDate)
                        </dd>
                        <div class="d-flex flex-row justify-content-start">
                            <a class="mt-2 btn btn-sm btn-outline-dark me-2" href="/Gallery/Edit/?ID==@movie.Id">Edit</a>
                            <a class="mt-2 btn btn-sm btn-dark me-2" href="/Gallery/DownloadFile/?FilePath=@movie.FileName">Download</a>
                            <a onclick="deletePost('@movie.Id','@movie.FileName')" class="mt-2 btn btn-sm btn-danger">Delete</a>
                        </div>
                    </dl>
                </div>         
            </div>
        </div>
    }
</div>